//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}Coordinator: BaseCoordinator {
	override func start() {
		let vc = {{ module_info.name }}ViewController.create()
		let viewModel = {{ module_info.name }}ViewModel()
		viewModel.dispatcher = self
		vc.vm = viewModel
		viewModel.view = vc
		cntr = vc
	}
}

// MARK: - {{ module_info.name }}DispatcherProtocol
extension {{ module_info.name }}Coordinator: {{ module_info.name }}DispatcherProtocol {
}
