//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}ViewProtocol: class {
}

final class {{ module_info.name }}ViewController: BaseViewController {
	var vm: {{ module_info.name }}ViewModelProtocol!

    // MARK: Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
    }
}

// MARK: - {{ module_info.name }}ViewProtocol
extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewProtocol {
}

// MARK: - ViewControllerable
extension {{ module_info.name }}ViewController: ViewControllerable {
	static var storyboardName: String {
		return "{{ module_info.name }}"
	}
}
