//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}DispatcherProtocol: class {
}

protocol {{ module_info.name }}ViewModelProtocol {
}

final class {{ module_info.name }}ViewModel {
	weak var dispatcher: (AlertProtocol & {{ module_info.name }}DispatcherProtocol)?
	weak var view: {{ module_info.name }}ViewProtocol?

	init() {
	}
}

// MARK: - {{ module_info.name }}ViewModelProtocol
extension  {{ module_info.name }}ViewModel: {{ module_info.name }}ViewModelProtocol {
}
