//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}DispatcherProtocol: class {
}

protocol {{ module_info.name }}ViewModelProtocol {
}

final class {{ module_info.name }}ViewModel: SingleSectionPresenter {
	weak var dispatcher: (AlertProtocol & {{ module_info.name }}DispatcherProtocol)?

	#if false
	init() {
	}
	#endif
}

// MARK: - SingleSectionInteractorInput
extension {{ module_info.name }}ViewModel: SingleSectionInteractorInput {
	func loadModels(with theme: Theme) {
	}
}

// MARK: - {{ module_info.name }}ViewModelProtocol
extension  {{ module_info.name }}ViewModel: {{ module_info.name }}ViewModelProtocol {
}
