<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.XIB" version="3.0" toolsVersion="15400" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" useTraitCollections="YES" useSafeAreas="YES" colorMatched="YES">
    <device id="retina4_7" orientation="portrait" appearance="light"/>
    <dependencies>
        <deployment identifier="iOS"/>
        <plugIn identifier="com.apple.InterfaceBuilder.IBCocoaTouchPlugin" version="15404"/>
        <capability name="Safe area layout guides" minToolsVersion="9.0"/>
        <capability name="documents saved in the Xcode 8 format" minToolsVersion="8.0"/>
    </dependencies>
    <objects>
        <placeholder placeholderIdentifier="IBFilesOwner" id="-1" userLabel="File's Owner"/>
        <placeholder placeholderIdentifier="IBFirstResponder" id="-2" customClass="UIResponder"/>
		<view contentMode="scaleToFill" id="iN0-l3-epB" customClass="{{ module_info.name }}Cell" customModule="Chatter" customModuleProvider="target">
            <rect key="frame" x="0.0" y="0.0" width="452" height="143"/>
            <autoresizingMask key="autoresizingMask" widthSizable="YES" heightSizable="YES"/>
            <subviews>
                <label opaque="NO" userInteractionEnabled="NO" contentMode="left" verticalHuggingPriority="252" text="Title" textAlignment="natural" lineBreakMode="tailTruncation" baselineAdjustment="alignBaselines" adjustsFontSizeToFit="NO" translatesAutoresizingMaskIntoConstraints="NO" id="Mac-DX-JCb">
                    <rect key="frame" x="91" y="11" width="287" height="21"/>
                    <fontDescription key="fontDescription" type="system" pointSize="17"/>
                    <nil key="textColor"/>
                    <nil key="highlightedColor"/>
                </label>
                <label opaque="NO" userInteractionEnabled="NO" contentMode="left" horizontalHuggingPriority="251" verticalHuggingPriority="251" textAlignment="natural" lineBreakMode="tailTruncation" numberOfLines="2" baselineAdjustment="alignBaselines" adjustsFontSizeToFit="NO" translatesAutoresizingMaskIntoConstraints="NO" id="q4E-bP-DDd">
                    <rect key="frame" x="91" y="36" width="301.5" height="41"/>
                    <string key="text">Content of the message
Second line of message</string>
                    <fontDescription key="fontDescription" type="system" pointSize="17"/>
                    <nil key="textColor"/>
                    <nil key="highlightedColor"/>
                </label>
                <imageView userInteractionEnabled="NO" contentMode="scaleAspectFill" horizontalHuggingPriority="251" verticalHuggingPriority="251" translatesAutoresizingMaskIntoConstraints="NO" id="cc5-Ub-wKh">
                    <rect key="frame" x="16" y="10" width="55" height="55"/>
                    <constraints>
                        <constraint firstAttribute="height" constant="55" id="MQj-f0-dRD"/>
                        <constraint firstAttribute="width" constant="55" id="XkC-EG-6sN"/>
                    </constraints>
                </imageView>
                <label opaque="NO" userInteractionEnabled="NO" contentMode="left" horizontalHuggingPriority="251" verticalHuggingPriority="251" text="10:02" textAlignment="natural" lineBreakMode="tailTruncation" baselineAdjustment="alignBaselines" adjustsFontSizeToFit="NO" translatesAutoresizingMaskIntoConstraints="NO" id="dzg-QS-SFb">
                    <rect key="frame" x="384" y="11" width="43" height="21"/>
                    <fontDescription key="fontDescription" type="system" pointSize="17"/>
                    <nil key="textColor"/>
                    <nil key="highlightedColor"/>
                </label>
                <view contentMode="scaleToFill" translatesAutoresizingMaskIntoConstraints="NO" id="9W6-AY-9Th">
                    <rect key="frame" x="398.5" y="42" width="26" height="26"/>
                    <subviews>
                        <label opaque="NO" userInteractionEnabled="NO" contentMode="left" horizontalHuggingPriority="251" verticalHuggingPriority="251" horizontalCompressionResistancePriority="752" text="5" textAlignment="natural" lineBreakMode="tailTruncation" baselineAdjustment="alignBaselines" adjustsFontSizeToFit="NO" translatesAutoresizingMaskIntoConstraints="NO" id="Kz3-83-XM3">
                            <rect key="frame" x="8" y="2.5" width="10.5" height="21"/>
                            <fontDescription key="fontDescription" type="system" pointSize="17"/>
                            <nil key="textColor"/>
                            <nil key="highlightedColor"/>
                        </label>
                    </subviews>
                    <color key="backgroundColor" white="0.66666666666666663" alpha="1" colorSpace="custom" customColorSpace="genericGamma22GrayColorSpace"/>
                    <constraints>
                        <constraint firstAttribute="width" constant="26" id="0k4-dw-Lf7"/>
                        <constraint firstAttribute="height" constant="26" id="5Kc-Cy-VJs"/>
                        <constraint firstItem="Kz3-83-XM3" firstAttribute="centerY" secondItem="9W6-AY-9Th" secondAttribute="centerY" id="8PG-RV-ybY"/>
                        <constraint firstItem="Kz3-83-XM3" firstAttribute="centerX" secondItem="9W6-AY-9Th" secondAttribute="centerX" id="lD9-4R-2lR"/>
                    </constraints>
                </view>
                <imageView clipsSubviews="YES" userInteractionEnabled="NO" contentMode="scaleAspectFit" horizontalHuggingPriority="251" verticalHuggingPriority="251" image="seen_flag" translatesAutoresizingMaskIntoConstraints="NO" id="57j-eR-tKt">
                    <rect key="frame" x="359" y="15.5" width="17" height="12"/>
                </imageView>
            </subviews>
            <color key="backgroundColor" red="1" green="1" blue="1" alpha="1" colorSpace="custom" customColorSpace="sRGB"/>
            <constraints>
                <constraint firstItem="vUN-kp-3ea" firstAttribute="bottom" relation="greaterThanOrEqual" secondItem="q4E-bP-DDd" secondAttribute="bottom" constant="10" id="4Jh-a1-khC"/>
                <constraint firstItem="9W6-AY-9Th" firstAttribute="top" secondItem="dzg-QS-SFb" secondAttribute="bottom" constant="10" id="CmQ-el-Hhk"/>
                <constraint firstItem="vUN-kp-3ea" firstAttribute="bottom" relation="greaterThanOrEqual" secondItem="9W6-AY-9Th" secondAttribute="bottom" constant="10" id="D3c-Zw-mjv"/>
                <constraint firstItem="dzg-QS-SFb" firstAttribute="leading" secondItem="57j-eR-tKt" secondAttribute="trailing" constant="8" id="Krd-Yq-Oae"/>
                <constraint firstItem="dzg-QS-SFb" firstAttribute="centerY" secondItem="57j-eR-tKt" secondAttribute="centerY" id="NRV-Qy-LAH"/>
                <constraint firstItem="q4E-bP-DDd" firstAttribute="top" secondItem="Mac-DX-JCb" secondAttribute="bottom" constant="4" id="Qya-1O-b6m"/>
                <constraint firstItem="vUN-kp-3ea" firstAttribute="trailing" secondItem="9W6-AY-9Th" secondAttribute="trailing" constant="27.399999999999999" id="S3p-ry-sel"/>
                <constraint firstItem="dzg-QS-SFb" firstAttribute="centerY" secondItem="Mac-DX-JCb" secondAttribute="centerY" id="kMv-zo-lbH"/>
                <constraint firstItem="Mac-DX-JCb" firstAttribute="leading" secondItem="cc5-Ub-wKh" secondAttribute="trailing" constant="20" id="md9-Zp-AoO"/>
                <constraint firstItem="cc5-Ub-wKh" firstAttribute="leading" secondItem="vUN-kp-3ea" secondAttribute="leading" constant="16" id="nUu-G3-Hm4"/>
                <constraint firstItem="cc5-Ub-wKh" firstAttribute="top" secondItem="vUN-kp-3ea" secondAttribute="top" constant="10" id="oRw-zl-f2c"/>
                <constraint firstItem="vUN-kp-3ea" firstAttribute="trailing" secondItem="dzg-QS-SFb" secondAttribute="trailing" constant="25" id="qQ5-z5-d4Q"/>
                <constraint firstItem="vUN-kp-3ea" firstAttribute="bottom" relation="greaterThanOrEqual" secondItem="cc5-Ub-wKh" secondAttribute="bottom" constant="10" id="rhL-qV-Bh7"/>
                <constraint firstItem="q4E-bP-DDd" firstAttribute="leading" secondItem="Mac-DX-JCb" secondAttribute="leading" id="sZD-8B-RWH"/>
                <constraint firstItem="9W6-AY-9Th" firstAttribute="leading" secondItem="q4E-bP-DDd" secondAttribute="trailing" constant="6" id="xfy-eR-rME"/>
                <constraint firstItem="dzg-QS-SFb" firstAttribute="leading" secondItem="Mac-DX-JCb" secondAttribute="trailing" constant="6" id="yNu-gk-JyJ"/>
                <constraint firstItem="dzg-QS-SFb" firstAttribute="top" secondItem="vUN-kp-3ea" secondAttribute="top" constant="11" id="zTH-Rc-GCO"/>
            </constraints>
            <freeformSimulatedSizeMetrics key="simulatedDestinationMetrics"/>
            <viewLayoutGuide key="safeArea" id="vUN-kp-3ea"/>
            <connections>
                <outlet property="avatarView" destination="cc5-Ub-wKh" id="i3i-vu-bxc"/>
                <outlet property="lblDate" destination="dzg-QS-SFb" id="Lqo-Du-fli"/>
                <outlet property="lblMessage" destination="q4E-bP-DDd" id="9rN-5v-PIr"/>
                <outlet property="lblMessagesCount" destination="Kz3-83-XM3" id="tJc-Tb-8Ni"/>
                <outlet property="lblTitle" destination="Mac-DX-JCb" id="IrK-9x-my0"/>
                <outlet property="seenFlagView" destination="57j-eR-tKt" id="Dve-sY-t7P"/>
                <outlet property="viewMsgCount" destination="9W6-AY-9Th" id="YCh-ZL-ojS"/>
            </connections>
            <point key="canvasLocation" x="193.59999999999999" y="194.75262368815595"/>
        </view>
    </objects>
    <resources>
        <image name="seen_flag" width="17" height="12"/>
    </resources>
</document>
